body {
    padding-top: 3rem;
}

.main-area {
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    text-align: center;
}

.cam-area {
    padding: 2px;
    margin: 2px;
    text-align: center;
}

.cam-out {
    margin: auto;
    width: 70%;
    padding: 2px;
}